@use 'colors' as color;
@use 'mixins' as mixins;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: rgb(255, 255, 255);
	color: color.$black-color;
	font-family: 'Montserrat', sans-serif;
}

.nav-bar {
	top: 0;
	position: sticky;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1400px;
	margin: 0 auto;
	height: 10vh;
	padding: 0 60px;

	&__title {
		font-weight: 400;
		font-size: 36px;
		i {
			color: rgb(67, 67, 67);
		}
	}

	li {
		list-style: none;
		text-decoration: none;
		a {
			padding: 2rem;
			font-weight: lighter;
			text-decoration: none;
			font-size: 24px;
			color: color.$black-color;
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				background-color: rgb(49, 46, 46);
				color: color.$white-color;
			}
		}
	}

	.active {
		background-color: color.$black-color;
		color: color.$white-color;
	}
}

.hide {
	display: none;
}

.hamburger {
	padding: 10px;
	cursor: pointer;
    background: none;
    border: 1px solid transparent;
    border-radius: 15px;
    transition: top .3s, transform .3s;

    &:active {
        border: 1px solid black;
    }

	&__box {
		position: relative;
		height: 40px;
		width: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__inner {
		position: absolute;
		width: 100%;
		height: 3px;
		background-color: color.$black-color;

		&::before {
			@include mixins.btn;
			top: -10px;
		}
		&::after {
			@include mixins.btn;
			top: 10px;
		}
	}    

}

.hamburger--active{
    .hamburger__inner{
        background-color: transparent;
   
   
        &::after{
            top: 0px;
            transform: rotate(45deg);

        }

        &::before{
            top: 0px;
            transform: rotate(-45deg);
        }
    }

   
}
